
/* COLORS:
light blue: ##dae5e8;
light teal: #80e8c075;
mid teal: #5ccbc0;
dark teal: #285d6d;
bright yellow: #FFFB19;
white: #ffffff;
light gray: #eee;
mid gray: #A3A3A3;
dark gray: #2e2e2e;
black: #000000;


FONTS:
;
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ______________________________________ */

html {
	scroll-behavior: smooth;
	background-color: white;
}

body {

	/*
	padding-left: 120px;
	padding-right: 120px;
	padding-top: 60px;
	padding-bottom: 60px;

	*/
	background-image: url("1.png"); 
	background-size: 100%;
	background-repeat: no-repeat;
}

body.projectPage {
	background-image: none;
}


h1 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;
	font-size: 30pt;
	color: #285d6d;
	padding-top: 20px;
	padding-bottom: 20px;
}

h2 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	font-size: 1.75em;
	line-height: 1.25em;
}

h3 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	font-size: 1.75em;
	padding-top: 20px;
	padding-bottom: 20px;
}

h4 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	font-size: 30pt;
	color: #2e2e2e;

}

h5 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	font-size: 10pt;
	color: #A3A3A3;

}


h3>a {
	color: #285d6d;
}

h3>a:hover {
	color: #285d6d;
	text-decoration: underline;
}

h3>a:active {
	color: #285d6d;
}
h3>a:visited {
	color: #285d6d;
	text-decoration: none;
}


.download-resume {
	text-align: right;
}

p {
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	font-size: 1.75em;
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 1.2em;
}

strong {
	font-weight: bold;
}


.container .jumbotron {
	color: #000000;
	background: none;
	margin-top: 40px;
	align-self: left;
	padding-left: 10%;
	padding-right: 10%;
	margin-bottom: 40px;
}

.jumbotron > h1 {
	font-size: 85pt;
	color: #285d6d;
	font-family: 'Montserrat Alternates', sans-serif;
}

.jumbotron > p {
	font-size: 1.5em;
	color: #000000;
	font-weight: 400;
	background-color: #ffffff;
	border-radius: 5px;
	padding: 10px;
}

/* Navbar*/

.navbar-default {
	background: #ffffff;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	color: #eee;
/*	border-bottom: 3px solid #FFFB19; */
	border: none;
	font-size: 1.25em;
	padding: 3px;
}

.navbar-default .navbar-brand {
	color: #285d6d;
	font-family: 'Quicksand', sans-serif;
}

.navbar-default .navbar-nav>li>a {
	color: #285d6d;
}

.navbar-default .navbar-brand:hover {
	color: #285d6d;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #285d6d;
	border-bottom: 1px solid #285d6d;
}

/* Resume */


#resume {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	display: block;
	overflow-y: scroll;
}

/* Projects */
.project { 
	background-color: #ffffff;
	border-radius: 5px;
	padding: 20px;
}



.project-name {
	border-bottom: 3px solid #285d6d;
	margin: 10px;
	padding-bottom: 7px;
	color: black;
	background: none;
}

#wireframing-hdc {
	max-width: 100%;
	max-height: 100%;
}

#workflow-hdc {
	max-width: 100%;
	max-height: 100%;
}

.left-block {
	align-content: left;
	max-width: 75%;
	height: auto;

}

.right-block {
	float: right;
	padding: 10px;
	max-width: 75%;
	height: auto;
}

.center-block {
	max-width: 75%;
	height: auto;
}


/* Refers to general projects page */

.row-right {
	margin: 10px 10px 10px 0;
	padding-right: 20px;
	text-align: right;
	max-width: 100%;
	height: 300px;
	min-height: 100px;
	border-right: 5px solid white;
}

.row-right:hover {
	border-right: 5px solid #285d6d;
}

.row-left {
	margin: 10px 0 10px 10px;
	
	padding-left: 20px;
	text-align: left;
	max-width: 100%;
	min-height: 100px;
	height: 300px;
	border-left: 5px solid white;
}

.row-left:hover {
	border-left: 5px solid #285d6d;
}

#wireframeInt {
	border: 1px solid black;
}

#Prototype482 {
	display: block;
	margin: 0 auto;
}

.scenario {
	background-color: #80e8c075;
	padding: 20px;
}
#persona {
	max-height: 75%;
	width: auto;
}

.project-blurb>p {
	color: #5ccbc0;
}


.project-blurb>h3 {
	color: #285d6d;
}



.projectType {
	text-align: center;
	font-size: 4em;
	background-color: #ffffff;
	padding: none;
	margin: 100px 20px 20px 20px;
	border-radius: 5px;
	background: none;
}

.list-items {
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	font-size: 1.75em;
	padding-top: 20px;
	padding-bottom: 20px;
}

.display-text-box {
	background-color: none;
	border-radius: 0;
	border-left: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
	margin-top: 10px;
	max-width: 100%;
}

.display-text-box h3 {
	padding-top: 0;
	margin-top: 0;
}


#headshot {
	border-radius: 5px;
	padding: 0;
	margin-right: 0;
	margin-top: 110px;
	max-width: 100%;
}

.thumbnail {
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	font-size: 1.5em;
	max-width: 500px;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
}

.row img {
	width: 100%;
	max-height: 100%;
	border: none;
	border-radius: 0;
	vertical-align: center;
}


.thumbnail>a:hover {
	color: black;
	text-decoration: none;
}

.thumbnail img {
	max-height: 50%;
}




.thumbnail h4 {
	color: #285d6d;
	font-size: 1.45em; 
}

textarea {
	width: 100%;
	resize: none;
	border: 1px solid lightgray;
	padding: 10px;
	border-radius: 0;
}



/* Bottom Nav */

.navbar-bottom {
    margin-bottom: 10px;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    font-size: 15pt;
    display: block
    width: 100%;
}

.navbar-center {
	color: #5ccbc0;
}

.far .fa-copyright>p{
	display: inline-block;
}
.copyright {
	padding: 15px;
	text-align: center;
	color: #2e2e2e50;
}

.specs {
	text-align: center;
	background-color: #80e8c075;
	padding: 20px;
}

.specs > .row {
	margin-top: 20px;
	margin-bottom: 20px;
}

.icon {
	max-width: 15%;
	max-height: 10px;
	padding: 5px;
}

.projectFooter {
	max-width: 60%;
	height: 150px;
	padding: 5px;
}

.midLink {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}
.projectLinks {
	height: 200px;
}

.projectLinks>.thumbnail {
	border-bottom: 3px solid white;
}

.projectLinks>.thumbnail:hover {
	border-bottom: 3px solid #285d6d;
}